
.mat-sidenav-container {
  height: calc(205vh - 115vh);
}

.mat-sidenav {
  width: 200px;
  background-color: #3F51B5;
}

.aligned-with-icon {
  position: relative;
  margin-top: 5px;
  top: -2px;
}
.mat-list-item {
  display: flex;
  align-items: center;
}

.mat-sidenav-icon-color {
  color: white;
  margin-right: 10px; /* Optional: Add spacing between icon and text */

}



